@import '../../sass/_mixins.scss'
@import '../../sass/_variables.scss'

.iconContainer
    text-align: right

.filterContainer
    background: #750710
    border-radius: 6px
    padding: 1rem
    margin: .5rem 1.5rem
    color: #FFF

    @include respond-to(mobile)
        margin: 0
.dropdownContainer
    display: flex
    justify-content: space-between
    align-items: center
.menuButton
    font-size: 1rem
.buttonsContainer
    display: flex
    flex-direction: column

.container
    display: flex
    flex-direction: column
    justify-content: center

::ng-deep .mat-mdc-menu-content
    display: flex
    flex-direction: column
    padding: 1rem !important
.activeFilterContainer
    display: flex
    flex-wrap: wrap
    gap: 1rem 2rem
    margin: 1rem 0
.filterButton
    background-color: #ffffff
    color: #000000
.hidden
    display: none
