<div class="iconContainer">
  @if (isOpen) {
  <button mat-icon-button="button with filter" (click)="toggleFilter()">
    <mat-icon class="icon">close</mat-icon>
  </button>
  }@else {
  <button mat-icon-button="button with filter" (click)="toggleFilter()">
    <mat-icon>filter_list</mat-icon>
  </button>
  }
</div>
@if(isOpen){
<div class="filterContainer">
  <button mat-button [matMenuTriggerFor]="typeMenu" style="color: white;">
    Question Type: {{type}}
  </button>
  <mat-menu #typeMenu="matMenu">
    @for (type of types; track $index) {
    <button mat-menu-item (click)="changeType(type)">{{type}}</button>
    }
  </mat-menu>
  <div>
    @for (tag of tags; track $index) {
      <mat-checkbox color="primary" [disabled]="this.type === 'Behavioral'">{{tag}}</mat-checkbox>
    }
  </div>
</div>
}
