<div class="iconContainer">
  @if (isOpen) {
  <button mat-icon-button="button with filter" (click)="toggleFilter()">
    <mat-icon class="icon">close</mat-icon>
  </button>
  }@else {
  <button mat-icon-button="button with filter" (click)="toggleFilter()">
    <mat-icon>filter_list</mat-icon>
  </button>
  }
</div>
@if(isOpen){
<div class="filterContainer">
  <div class="container">
    <div class="menuButtonContainer">
      <button mat-button class="menuButton" [matMenuTriggerFor]="typeMenu" style="color: white">
        Type
      </button>
      <mat-menu #typeMenu="matMenu" class="dropdown">
        @for (type of typeList; track $index) {
        <button mat-menu-item (click)="selectType(type)">{{ type }}</button>
        }
      </mat-menu>

      <button mat-button class="menuButton" [matMenuTriggerFor]="diffMenu" style="color: white">
        Difficulty
      </button>
      <mat-menu #diffMenu="matMenu">
        @for (difficulty of difficultyList; track $index) {
        <mat-checkbox
        [checked]="filterCriteria.difficulties.includes(difficulty.toLowerCase())"
          (change)="changeDifficulty($event, difficulty)"
          (click)="$event.stopPropagation()"
          >{{ difficulty }}</mat-checkbox
        >
        }
      </mat-menu>

      <button mat-button class="menuButton" [matMenuTriggerFor]="tagMenu" style="color: white">
        Tags
      </button>
      <mat-menu #tagMenu="matMenu">
        @for (tag of tagList; track $index) {
        <mat-checkbox
          [checked]="filterCriteria.tags.includes(tag.toLowerCase())"
          (change)="changeTag($event, tag)"
          (click)="$event.stopPropagation()"
          >{{ tag }}</mat-checkbox
        >
        }
      </mat-menu>
    </div>
    <div class="activeFilterContainer" [ngClass]="{'hidden': !isAnyFilterActive()}">
      @for (key of objectKeys(filterCriteria); track key) {
      @if(getObjectValueByKey(filterCriteria, key).length !== 0 ) {
      <button mat-fab extended class="filterButton" (click)="removeFilter(key)">
        {{ titleMap[key] }} <mat-icon>close</mat-icon>
      </button>
      } }
    </div>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="sortMenu" style="color: white">
      <mat-icon>sort</mat-icon>
    </button>
    <mat-menu #sortMenu="matMenu">
      @for (sort of sortList; track $index) {
      <button mat-button disabled (click)="$event.stopPropagation()">
        <span>{{ sort }}</span>
      </button>
      }
    </mat-menu>
  </div>
</div>
}
