.iconContainer
    text-align: right

.filterContainer
    display: flex
    justify-content: space-between
    background: #750710
    border-radius: 6px
    padding: 1rem
    margin: 0 1.5rem
    gap: 0 2rem
    color: #FFF
.menuButton
    font-size: 1rem
.menuButtonContainer

.container
    display: flex
    flex-direction: column
    justify-content: center

::ng-deep .mat-mdc-menu-content
    display: flex
    flex-direction: column
    padding: 1rem !important
.activeFilterContainer
    display: flex
    gap: 0rem 2rem
    margin: 1rem 0
.filterButton
    background-color: #ffffff
    color: #000000
.hidden
    display: none
