@if (question) {
<mat-card
  class="card"
  [ngClass]="{
      widthLarge: changeFormat,
      widthSmall: !changeFormat,
    }"
  (click)="[selectItem()]"
>
  <mat-card-content>{{ question.getQuestion() }}</mat-card-content>
</mat-card>
}@else if (selectedQuestion) {
<mat-card
  class="card selectedCard widthLarge"
  (click)="show()"
  ><mat-card-content>

    @if (selectedQuestion.isSelected()) {
    <p class="answerText">{{ selectedQuestion.getAnswer() }}</p>
    }@else {
    <p>{{ selectedQuestion.getQuestion() }}</p>
    }
  </mat-card-content>
</mat-card>
}
