.card
    border: 1px solid #000
    border-radius: 4px
    text-align: center
    margin: 1rem 0
    &:hover
        cursor: pointer
.selectedCard
    display: flex
    align-items: center
    height: 12rem
    justify-content: center
    font-size: 2rem
    font-weight: 500
.widthLarge 
    width: 32rem

.widthSmall
    width: 16rem

