@if (question) {
<mat-card
  class="card"
  [ngClass]="{
      widthLarge: changeFormat,
      widthSmall: !changeFormat,
    }"
  (click)="[selectItem()]"
>
  <mat-card-content>{{ question.question }}</mat-card-content>
</mat-card>
}@else if (selectedQuestion) {
<mat-card
  class="card selectedCard"
  [ngClass]="{
      widthLarge: changeFormat,
      widthSmall: !changeFormat,
    }"
  (click)="show()"
  ><mat-card-content>
    @if (selectedQuestion.selected) {
    <p>{{ selectedQuestion.answer }}</p>
    }@else {
    <p>{{ selectedQuestion.question }}</p>
    }
  </mat-card-content>
</mat-card>
}
