.card
    border: 1px solid #000
    border-radius: 4px
    text-align: center
    margin: 1rem 0

    
.card-selected 
    width: 32rem


.card-not-selected 
    width: 16rem
.hidden
    display: none