<h2 mat-dialog-title>Edit Question</h2>
<mat-dialog-content [formGroup]="editForm" class="modalContainer">
  <mat-form-field>
    <mat-label>Question</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      formControlName="question"
      [value]="data.question"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Answer</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      formControlName="answer"
      [value]="data.answer"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="modalActions">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="editQuestion()">Ok</button>
</mat-dialog-actions>
