<h2 mat-dialog-title>Edit Question</h2>
<mat-dialog-content [formGroup]="editForm">
  <mat-form-field>
    <mat-label>Question</mat-label>
    <input matInput formControlName="question" [value]="data.question" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Answer</mat-label>
    <input matInput formControlName="answer" [value]="data.answer" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="editQuestion()">Ok</button>
</mat-dialog-actions>
