@if (displayForm) {
<div class="quoteContainer" #addQuestionForm>
  <h4>
    “I am always doing that which I cannot do, in order that I may learn how to
    do it.”
  </h4>
  <p>― Pablo Picasso</p>
</div>
<form (ngSubmit)="onsubmit()" @formAnimation>
  <mat-form-field [hideRequiredMarker]="true">
    <mat-label>Question</mat-label>
    <textarea
      matInput
      [formControl]="question"
      (blur)="updateErrorMessage()"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      required
    ></textarea>
    @if (question.invalid) {
    <mat-error>{{ errorMessage }}</mat-error
    >}
  </mat-form-field>
  <mat-form-field [hideRequiredMarker]="true">
    <mat-label>Answer</mat-label>
    <textarea
      matInput
      [formControl]="answer"
      (blur)="updateErrorMessage()"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="10"
      required
    ></textarea>
    @if (answer.invalid) {
    <mat-error>{{ errorMessage }}</mat-error
    >}
  </mat-form-field>
  <div>
    <h4>Type <span>(optional)</span></h4>
    <mat-radio-group
      aria-label="question type"
      [(ngModel)]="type"
      name="type"
      required
    >
      <mat-radio-button value="technical">Technical</mat-radio-button>
      <mat-radio-button value="behavioral">Behavioral</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="tagContainer">
    <h4>Tags <span>(optional)</span></h4>
    @for (tag of tagList; track $index) {
    <mat-checkbox (change)="onTagChange($event, tag)">{{ tag }}</mat-checkbox>
    }
  </div>
  <div>
    <h4>Difficulty <span>(optional)</span> </h4>
    <mat-button-toggle-group
      name="difficulty"
      [(ngModel)]="difficulty"
      aria-label="difficulty"
    >
      @for (diff of difficultyList; track $index) {
      <mat-button-toggle [value]="diff.toLowerCase()">{{ diff }}</mat-button-toggle>

      }
    </mat-button-toggle-group>
  </div>

  <div class="buttonContainer">
    <button
      mat-flat-button
      color="warn"
      aria-label="cancel button"
      (click)="onCancel($event)"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      aria-label="add button"
      type="submit"
    >
      Submit
    </button>
  </div>
</form>
}@else {

<span class="formButton"
  >Add a question?
  <span>
    <button mat-button color="basic" (click)="displayFormHandler()">
      Click Here!
    </button></span
  ></span
>

}
