.flex
    display: flex
    justify-content: space-between
    align-items: center
    border: 2px solid #f50c0c
.noFlex
    display: block
.grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))