<div class="appContainer">
  @if (questions.length) {
  <filter (filterChanged)="handleFilterChange($event)"/>}

  <div [ngClass]="{ flex: changeFormat, noFlex: !changeFormat }">
    <div>
      <div [ngClass]="{ showMenu: changeFormat, hideMenu: !changeFormat }">
        @if (filteredList.length) {
        <button mat-button class="menuButton" [matMenuTriggerFor]="typeMenu">
          <mat-icon class="moreIcon">more_vert</mat-icon>
        </button>

        <mat-menu #typeMenu="matMenu" class="dropdown">
          @if (editMode) {
          <button mat-menu-item (click)="turnOffDelete()">Cancel</button>
          }@else {
          <button mat-menu-item (click)="turnOnDelete()">Edit</button>}
        </mat-menu>
        }
      </div>
      @if (filteredList.length) {
      <div
        class="questionContainer"
        [ngClass]="{ grid: !changeFormat, questionsContainer: changeFormat }"
      >
        @for (item of filteredList; track item.id) {
        <question-card
          [question]="item"
          (selectedCardData)="handleSelectedCard($event)"
          [changeFormat]="changeFormat"
          (cardDeleted)="handleCardDeleted($event)"
          [editMode]="editMode"
        />
        }
      </div>
      }@else if(!filteredList.length && questions.length) {
      <span>There are no results!</span>
      }
    </div>
    @if(!questions.length) {
    <div class="imageContainer">
      <img
        class="image"
        src="assets/images/empty_data.jpg"
        alt="empty data"
        loading="eager"
      />
      <span>No Questions saved!</span>
    </div>
    } @if (selectedCard) {
    <div class="selectedCardContainer">
      <question-card
        [selectedQuestion]="selectedCard"
        [changeFormat]="changeFormat"
      />
      @if (filteredList.length>1) {
      <div class="buttonContainer">
        <button mat-icon-button aria-label="" (click)="prevQuestion()">
          <mat-icon class="icon">arrow_back</mat-icon>
        </button>
        <button mat-icon-button aria-label="" (click)="nextQuestion()">
          <mat-icon class="icon">arrow_forward</mat-icon>
        </button>
      </div>
      }
    </div>
    }
  </div>
  <add-question (isShown)="handleOpenForm($event)"/>
</div>
<router-outlet />
