.flex
    display: flex
    justify-content: space-between
    align-items: center
.noFlex
    display: block
.grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))
    place-items: center
.appContainer
    padding: 0 1rem