<div class="appContainer">
  @if (questions.length) {
  <filter (filterChanged)="handleFilterChange($event)" />}

  <div
    [ngClass]="{ flex: changeFormat, noFlex: !changeFormat, center: hideList }"
  >
    <div>
      <div [ngClass]="{ showMenu: changeFormat, hideMenu: !changeFormat }">
        @if (filteredList.length) {
        <button mat-button [matMenuTriggerFor]="typeMenu">
          <mat-icon class="moreIcon">more_vert</mat-icon>
        </button>

        <mat-menu #typeMenu="matMenu" class="dropdown">
          @if (hideList) {
          <button mat-menu-item (click)="hideListOff()">Show</button>
          }@else if (editMode) {
          <button mat-menu-item (click)="turnOffEdit()">Cancel</button>
          }@else {
          <button mat-menu-item (click)="turnOnEdit()">Edit</button>
          <button mat-menu-item (click)="hideListOn()">Hide</button>
          }
        </mat-menu>
        }
      </div>
      @if (filteredList.length && !hideList) {
      <div
        #questionContainer
        class="questionContainer"
        [ngClass]="{
          grid: !changeFormat,
          questionsContainer: changeFormat,
        }"
      >
        @for (item of filteredList; track item.id) {
        <question-card
          [question]="item"
          (selectedCardData)="handleSelectedCard($event)"
          [changeFormat]="changeFormat"
          (cardDeleted)="handleCardDeleted($event)"
          [editMode]="editMode"
          (cardUpdated)="handleEditMode($event)"
        />
        }
      </div>
      }@else if(!filteredList.length && questions.length) {
      <div class="noResultsContainer">
        <span>There are no results!</span>
      </div>
      } @if (displayArrows.down) {
      <div class="arrowNav">
        <button
          mat-icon-button
          aria-label="icon button with a arrow downward"
          (click)="scrollBottom()"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
      }@else if (displayArrows.up) {
      <div class="arrowNav">
        <button
          mat-icon-button
          aria-label="icon button with a arrow downward"
          (click)="scrollTop()"
        >
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
      </div>
      }
    </div>
    @if(!questions.length) {
    <div class="imageContainer">
      <img
        class="image"
        src="assets/images/empty_data.jpg"
        alt="empty data"
        loading="eager"
      />
      <span>No Questions saved!</span>
    </div>
    } @if (selectedCard) {
    <div class="selectedCardContainer">
      <question-card
        [selectedQuestion]="selectedCard"
        [changeFormat]="changeFormat"
      />
      @if (filteredList.length>1) {
      <div class="buttonContainer">
        <button mat-icon-button aria-label="" (click)="prevQuestion()">
          <mat-icon class="icon">arrow_back</mat-icon>
        </button>
        <button mat-icon-button aria-label="" (click)="nextQuestion()">
          <mat-icon class="icon">arrow_forward</mat-icon>
        </button>
      </div>
      }
    </div>
    }
  </div>
  <add-question (isShown)="handleOpenForm($event)" />
</div>
<router-outlet />
